<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<h1> ANALYZE YOU TEXT </h1><br>
<h1> INPUT YOUR TEXT HERE </h1>
<form  action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; width: 980px; height: 170px;'></textarea>
    <br><br>
    <input name="analyze" type="checkbox"> REMOVE PUNCTUATION <br><br>
    <input name="fullcaps" type="checkbox"> CAPITALISE CHARACTERS <br><br>
    <input name="newlineremover" type="checkbox"> REMOVE NEWLINE  <br><br>
    <input name="spaceremover" type="checkbox"> REMOVE SPACE <br><br>
    <input name="charcounter" type="checkbox"> COUNT CHARACTERS <br><br>

    <button type="submit">ANALYZE TEXT</button>
    <br>
</form>

</body>
</html>